body {
  margin: 0;
}

.App {
  min-height: 100vh;
  background: linear-gradient(200deg, rgb(200,210,220) 0%, rgb(195,200,205) 70%, rgb(150,150,160) 100%);
}

/* Navbar */
nav {
  height: 3rem;
  width: 100%;
  
}
.navbar {
  width: 100%;
  z-index: 20;
  position: fixed;
}

/* Main body */
.main-body {
  margin-top: 3.5rem;
}